{# 继承自base#}
{% extends 'base.html' %}

{% block title %}
首页
{% endblock %}

{% block css %}

    <style>
            .box{
                border-radius: 10px;
                border: 1px solid gray;
                margin-top: 10px;
                padding: 10px 30px;
            }
            .thum{
                font-size: 20px;

            }
            .user{
                float: left;
            }
            .like{
                float: right;
             {# 设置鼠标样式  #}
                cursor: pointer;
             }
            .clear{
                {#撑起来用户点赞的标签#}
                clear: both;
            }


    </style>



{% endblock %}


{% block body %}
    <div class="container">
        {% if blogs %}
            {% for blog in blogs %}
                {% set islike = {'flag':False} %}
                {% for user in blog.like_users %}
                    {% if session.get('username') == user.username %}

                        {% if islike.update({'flag':True}) %} {% endif %}

                    {% endif %}
                {% endfor %}
                <div class="box">

                    <h3 class="title">
                        <a href="">{{ blog.title }}</a>
                    </h3>

                    <p class="thum">{{ blog.thum_content }}</p>

                    <div class="user_like">

                            <div class="user">
                                <span>{{ blog.user.username }}</span>
                            </div>

                            {% if islike.flag %}
                                <div class="like" bid="{{ blog.bid }}">
                                    <a href="{{ url_for('blog.unlike') }}?bid={{ blog.bid }}">
                                        <span class="glyphicon glyphicon-thumbs-up" style="color: red"></span>
        {#                            点赞的数量 表示给这个博客点赞的用户个数#}
        {#                            容器数据|length 获取容器数据的个数#}
                                    <span>{{ blog.like_users|length }}</span>
                                    </a>
                                </div>
                            {% else %}
                                <div class="like" bid="{{ blog.bid }}">
                                    <a href="{{ url_for('blog.like') }}?bid={{ blog.bid }}">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
        {#                            点赞的数量 表示给这个博客点赞的用户个数#}
        {#                            容器数据|length 获取容器数据的个数#}
                                    <span>{{ blog.like_users|length }}</span>
                                    </a>
                                </div>
                            {% endif %}

                            <div class="clear"></div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>当前还没有人发表博客 快去发布吧</h3>
        {% endif %}
    </div>
{% endblock %} 

{% block js %}

{#    <script>#}
{##}
{#        $('.like').click(function () {#}
        {#发送请求#}
{#            $.ajax({#}
{#                url:"{{ 'blog.like' }}",#}
{#                type:'post',#}
{#                data:"bid=" + $('.like').attr('bid') + "&csrf_token=" + '{{ csrf_token() }}',#}
{#                success:function (result,status) {#}
{#                    console.log(result)#}
{##}
{##}
{#                }#}
{##}
{#            })#}
{##}
{##}
{#        })#}
{##}
{#    </script>#}

{% endblock %}















